.container.jumbotron
  .text-center
    %h1 Select a Category
  .row
    .mx-auto
    
    = form_tag questions_path, :method => :get do
      Include:
      - @all_categories.each do |category|
        = category
        = check_box_tag "categories[#{category}]"
      // = submit_tag 'Refresh'
    
      = link_to "Start Practice", practice_path(:category => @category), class: "btn btn-lg btn-primary"
      // = link_to "Start Practice", practice_path([2]), class: "btn btn-lg btn-primary"